@charset "utf-8";

/* -------------------------------------------------------------

[1] レイアウトに関する指定
[2] ヘッダーブロック内に関する指定
[3] コンテンツブロック内に関する指定
[4] サイドバーブロック内に関する指定
[5] フッターブロック内に関する指定
[6] CSSデザインサンプルリンク指定

----------------------------------------------------------------
CSSデザインサンプ [ URL ] http://www.css-designsample.com
------------------------------------------------------------- */


/* 一括で全ての要素の余白をゼロに指定 */
* {
  margin: 0;
  padding: 0;
}

/* 全体的なリンク */

a:link,
a:visited,
a:hover,
a:active { text-decoration: underline; }

a:link { color: #00f; }

a:visited { color: #90f; }

a:hover { color: #f00; }

a:active { color: #f00; }

/* -------------------------------------------------------------
   [1] レイアウトに関する指定 */

body {
  font-size: 85%;
  text-align: center;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  padding: 0;
  margin: 0;
  background-color: steelblue ;
}

#wrapper {
  text-align: left;
  margin: 0 auto;
  width: 860px;
  background: #fff url(img/bg-wrapper.jpg) repeat-y 0 0;
}

#header {
/*  height: 200px; */
  height: 90px;
  margin-bottom: 20px;
  background: url(img/wing-slate.jpg) no-repeat 30px 10px;
}

#header-inner {
  width: 860px;
  height: 100%;
  position: relative;
  background: url(img/rain-denim.jpg) repeat-x 30px bottom;
}

#container {
  width:860px;
  float: left;
}

#contents {
/*  width: 470px; */
    width: 860px;
/*    float: right; */
    float:  left;
}

#left-sidebar {
  width: 190px;
  float: left;
  padding: 0 5px;
}

/*
 #right-sidebar {
  width: 160px;
  float: right;
  padding: 0 5px;
} 
*/

#footer { padding: 20px 0 30px; background-color: #000;
}

/* -------------------------------------------------------------
   [2] ヘッダーブロック内に関する指定 */

/* キーワード */
h1 {
  font-size: 100%;
  font-weight: normal;
  position: absolute;
  top: 20px;
  left: 210px;
  color: white;
  }

/* 企業名｜ショップ名｜タイトル */
.logo {
  font-size: 130%;
  font-weight: bold;
  position: absolute;
  top: 60px;
  left: 210px;
  color: white;
    }

.logo a {
  color: white;
  text-decoration: none;
}

.logo a:hover {
  text-decoration: none;
  color: #f00;
}

/* ページの概要 */
.description {
  position: absolute;
  bottom: 10px;
  left: 230px;
}

/* -------------------------------------------------------------
   [3] コンテンツブロック内に関する指定 */

figure{
text-align: center;
margin-top: 30px;
margin-bottom: 30px;
}

figure img {
width: 650px;
}

#greeting{
margin-left:0
font-size: 100%;
text-align: left;
overflow: hidden;
}

#greeting figure{
width:250px;
margin: 0;
margin-right:10px;
margin-left:10px;
float:right;
}

#timetable th{
font-weight: normal; 
width: 100px;
}
#timetable td{
font-weight: normal; 
width: 400px;
}


/* -- 見出し -- */
h2,h3,h4,h5,h6 {
  font-size: 135%;
  font-weight: normal;
  margin-bottom: 1em;
  margin-top: 3.0em;
  margin-left: 1.0em;
  margin-right: 1.0em;
  border-bottom: 2px ridge #000;
}

h3,h4,h5,h6 { margin-top: 3em; }

/* -- 文字 -- */
/* #contents p { */
p {
  font-size: 110%;
/*  line-height: 1.6em; */
  margin-bottom: 1.0em;
  margin-left: 2.0em;
  margin-right: 2.0em;
  }

#contents li {
  line-height: 1.6em;
margin-left: 16px
}

/* -------------------------------------------------------------
   [4] サイドバーブロック内に関する指定 */

/* -- サイドバータイトル -- */
.side-title { color: #eee;}

/* -- リスト/サイドバーメニュー -- */
.localnavi {
  list-style-type: none;
  margin-bottom: 20px;
  padding: 4px;
  background-color: #000;
}

.localnavi li { display: inline; }

.localnavi a {
  font-size: 100%;
  text-decoration: none;
  color: #eee
  }
.localnavi a:hover {
  text-decoration: none;
  color: #f00
}

.localnavi li a {
  font-size: 90%;
  text-decoration: none;
  width: 172px;
  padding: 4px 4px;
  display: block;
  border: 1px outset #000;
  background-color: #666;
  color: #eee;
}

.localnavi li a:hover {
  text-decoration: none;
  border: 1px outset #000;
  background-color: #333;
  color: #f00;
}

nav {float:center;
text-align:center;
}

nav ul 	{list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	}

nav li {display: inline;
	    border-right: solid 1px gray;
		margin-left: 10px;
		margin-right: 10px;
	    padding-left: 0px;
	    padding-right: 20px}
	    

/* -------------------------------------------------------------
   [5] フッターブロック内に関する指定 */

#footer p {
  text-align: center;
  padding-top: 20px;
  color: #fff;
}


/* -------------------------------------------------------------*/

#pub #contents li a {
  font-size: 100%;
  text-decoration: underline;
  color: black
  }

/* -------------------------------------------------------------
   [6] CSSデザインサンプルリンク指定 */

#cds {
  font-size: 80%;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0;
  padding: 20px 0 0 10px;
  height: 30px;
  clear: both;
  background: url(img/bg-cds.jpg) no-repeat 0 0;
}

#cds,
#cds a,
#cds a:hover {
  text-decoration: none;
  color: #999;
}

