{{ define "main" }}

<div class="row">
  <div class="col-md-8">

    <nav class="p-crumb">
      <ol class="breadcrumb">
<!-- TORI AEZU -->
	{{ if eq .Site.Language.Lang "jp" }}
        <li><a href="{{ .Site.BaseURL }}jp/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        {{ with .Section }}
            {{ if eq . "research" }}
<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ $.Site.BaseURL }}jp/{{ . | urlize }}/" itemprop="url"><span itemprop="title">{{ . }}</span></a></li>
{{ else }}
<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">研究内容</span></li>
{{ end }}
        {{ end }}
         {{ if ne .Title "研究内容" }} <li class="active">{{ .Title }}</li> {{ end }}
	{{ else }}
        <li><a href="{{ .Site.BaseURL }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        {{ with .Section }}
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ $.Site.BaseURL }}{{ . | urlize }}/" itemprop="url"><span itemprop="title">{{ . }}</span></a></li>
        {{ end }}
        {{ if ne .Title "Research" }} <li class="active">{{ .Title }}</li> {{ end }}
	{{ end }}

      </ol>
    </nav>


<main class="main list">
	{{- with .Content }}
	<div class="content clearfix">
	<div class="article-body">
		{{ . }}
	</div>
	</div>
	{{- end }}
</main>

  </div>


  <div class="col-md-4">
    {{ partial "sidebar_research.html" . }}
  </div>
  </div>

{{ end }}
